.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    width: 100%;
    max-width: 480px;    
    padding: 84px 31px;    
}

.title {
    color: var(--third-text-color);
}

.subTitle {
    position: relative;
  
    width: 226px;
    text-align: right;
    text-transform: uppercase;
    color: var(--third-text-color);
  }
  
  .subTitle::before {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    
    width: 60px;
    height: 1px;
    background-color: var(--third-text-color);  
  }

.text {
  margin-bottom:24px;
  
  font-size: 1.125rem;
    line-height: 2;
    color: var(--primary-text-color);
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.item {
  width: 194px;
  height: 133px;
}

.item:nth-of-type(2n), .item:nth-of-type(4n) {
  position: relative;
}

.indicator {
  display: flex;
  flex-direction: column;
  gap: 6px;

  width: 100%;
  height: 100%;
  padding: 20px 35px;
 
  background-color: var(--accent-background-color);
}

.indicator.second, .indicator.fourth {
  position: absolute;
  top: 35px;
  left: 0;
}

.indicatorValue {
  position: relative;

  text-align: center;
  font-size: 2.625rem;
  font-weight: 700;
}

.indicatorValue::after {
  position: absolute;
  top: 0;
  content: "+";

  font-size: 1.5rem;
  color: var(--border-background-color);
}

.indicatorText {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--third-text-color);
}
