.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 70vw;
    height: 100vh;
    padding: 118px 40px;    
    background-color: var(--primary-background-color);
}

.closeBtn {
  position: absolute;
  top: 48px;
  right: 31px;
  
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.itemContact {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.link {
  font-size: 0.64rem;
  font-weight: 500;
}

.link:hover, .link:focus {
  color: var(--accent-text-color);
}

.social {
  position: relative;

  font-size: 0.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.social::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -2.85rem;
  
  width: 2.2rem;
  height: 0.04rem;
  background-color: var(--secondary-text-color);
}

.socialWithoutBefore {
  margin-left: 4rem;
  
  font-size: 0.5rem;
  font-weight: 500;  
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.social:hover,
.social:focus,
.socialWithoutBefore:hover,
.socialWithoutBefore:focus {
  color: var(--accent-text-color);
}

.active {
  color: var(--accent-text-color);
  cursor: default;
}






















