.wrapper {
    display: flex;
    flex-direction: column;
    gap: 44px;

    padding: 84px 31px;
    max-width: 480px;
    background-color: var(--third-background-color);
}

.title {
    margin-bottom: 1.43rem;
    
    text-align: center;
    color: var(--white-text-color);
  }

.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 44px;
}