.primaryLinkBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 5.71rem;
    height: 1.43rem;
    margin: 0 auto;
    padding: 0.43rem 0.71rem;

    font-size: 0.43rem;
    text-transform: uppercase;
    color: var(--white-text-color);
    background-color: transparent;
    border: 0.04rem solid var(--accent-background-color);
    border-radius: 0.9rem;
}

.secondaryLinkBtn {    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 5.71rem;
    height: 1.43rem;
    padding: 0.43rem 0.71rem;

    font-size: 0.43rem;
    text-transform: uppercase;
    color: var(--primary-text-color);
    background-color: transparent;
    border: 0.04rem solid var(--accent-background-color);
    border-radius: 0.9rem;
}

.primaryLinkBtn:hover, .primaryLinkBtn:focus, .secondaryLinkBtn:hover, .secondaryLinkBtn:focus {    
    color: var(--white-text-color);
    background-color: var(--accent-background-color);
}


