.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.36rem;
}

.link {
    color: var(--primary-text-color);
}

.link:hover, .link:focus {
    color: var(--accent-text-color);
}
