/* .wrapper {

} */

.descriptionWrapper {
    width: 100%;
    height: auto;
    padding: 30px 106px 0 106px;       
}

.title {
    margin-bottom: 6px;
    font-size: 1.125rem;
    text-align: center;
    color: var(--third-text-color);
}

.subTitle {
    margin-bottom: 30px;
    font-size: 0.875rem;
    text-align: center;
    color: var(--border-background-color);
}