.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.71rem;
    
    width: 100%;
    padding: 1.57rem 1.11rem;
    background-color: var(--secondary-background-color);
}

.nav {
    margin-left: auto;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 1.43rem;   
}

.link {
    position: relative;
  
    margin-left: 2.85rem;
  
    font-size: 0.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--primary-text-color);
  }
  
.link::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -2.85rem;
    
    width: 2.2rem;
    height: 0.04rem;
    background-color: var(--secondary-text-color);
}

.linkWithoutBefore {
    font-size: 0.4rem;
    font-weight: 500;  
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.link:hover,
.link:focus,
.linkWithoutBefore:hover,
.linkWithoutBefore:focus {
    color: var(--accent-text-color);
}

.copyright {
    font-size: 0.4rem;
    font-weight: 500;
    color: var(--secondary-text-color);
}